<h1>Listing posts</h1>
<%= link_to "Nieuwe directory user", action: "new" %>
<table>
	<tr>
		<th>Titel</th>
		<th>Completed</th>
	</tr>
  
	<% @directoryUsers.each do |d| %>
			<tr>
				<td><%= d.userID %></td> 
				<td></td>
				<td></td>
				<td><%= link_to "Nieuwe user", :action => 'new', :id => @directoryID %></td>
			</tr>	
	<% end %>
</table>