<h1>Listing posts</h1>
<%= link_to "Nieuwe taak", action: "new" %>
<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>
	<% @tasks.each do |task| %>
		<tr>
			<td><%= task.taskName %></td>
			<td><%= task.taskContent %></td>
		</tr>
	<% end %>
</table>