
<div id="listUsers">
	<table>
		<tr class="userItem">
			<td>Naam</td>
			<td>Beschrijving</td>
			<td></td>
		</tr>
		<tr class="userItem">
			<td><%= @task.taskName %></td>
			<td><%= @task.taskContent %></td>
			<td><%= link_to "Wijzig taak", :controller => 'tasks', :action => 'edit', :id => params[:id] %></td>
		</tr>
	</table>
</div>
<%= link_to 'Back', task_directories_path %>